@use '@/styles' as *;

.scoring {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1.75rem;
  box-shadow:
    0px 2px 4px 0px #00000033,
    0px 0px 8px 0px #00000014;
  background: white;
  width: 100%;
  box-sizing: border-box;

  &__error {
    color: $input-error;
    height: fit-content;
    box-sizing: border-box;
    line-height: 2lh;
    transform: translateY(-1rem);
  }

  &__button {
    padding-left: 2.375rem;
    padding-right: 2.375rem;
    margin-left: auto;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-bottom: 1.25rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
  }

  &__subHeading {
    font-weight: 700;
    font-style: bold;
    font-size: 1.25rem;
  }

  &__section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;

    & > * {
      min-width: 25rem;
    }
  }
}

@media #{$tablet} {
  .scoring {
    &__section {
      width: 100%;

      & > * {
        min-width: auto;
        width: 100%;
      }
    }
  }
}
