.spinner {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  .ring {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .arc {
    position: absolute;
    top: 0;
    z-index: 2;
    transform-origin: 31px 35px;

    animation: rotate 1s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
