.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  flex-direction: row;
  background: transparent;

  &_primary {
    color: white;
    background-color: #003cff;
    font-weight: 700;

    &:hover,
    :disabled {
      background-color: #7796c0;
    }
  }

  &_newsletter {
    color: white;
    background-color: #686df1;
    gap: 0.625rem;
    padding: 1.25rem 2rem;
    font-weight: 700;
    line-height: 127%;
    border-radius: 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 127%;
  }

  &_icon {
    padding: 6px;
    height: 32px;
    width: 32px;
  }

  &_md {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    width: min-content;
  }

  &_default {
    height: 100%;
    width: fit-content;
  }
}
