@use '@/styles' as *;

.support {
  text-align: center;

  &__heading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-base;
    color: #eb801d;
  }
}
