$letter-spacing-base: 0.02em;
$line-height-small: 1.12;
$line-height-base: 1.47;
$line-height-lg: 3rem;

$desktop: '(max-width: 1300px)';
$tablet: '(max-width: 920px)';
$mobile: '(max-width: 500px)';

$border-radius-base: 1.75rem;
$input-width-primary: 18.5625rem;
$input-error: #ff5631;
