$letter-spacing-base: 0.02em;
$line-height-small: 1.12;
$line-height-base: 1.47;
$line-height-lg: 3rem;

$desktop: '(max-width: 1300px)';
$tablet: '(max-width: 920px)';
$mobile: '(max-width: 500px)';
