@use '@styles/variables' as *;

.map {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: $line-height-lg;
  justify-content: center;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}
