@use '~/styles/variables' as *;

.subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 3rem;

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 1lh;
    line-height: 120%;
    letter-spacing: $letter-spacing-base;
    font-weight: 700;
  }

  &__name {
    display: block;
    font-weight: 500;
    font-size: 2rem;
    line-height: $line-height-base;
  }

  &__form {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
    border-radius: 1.25rem;
    height: 5.625rem;
    max-width: 32.75rem;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    gap: 0.5rem;
  }

  &__input {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-base;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    box-shadow: none;
    width: 100%;

    &::placeholder {
      color: #9092b0;
    }
  }
}
