@use '@/styles' as *;

.benefits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;

  > .benefit:nth-child(odd) {
    background-color: #eaecee;
  }

  > .benefit:nth-child(even) {
    background-color: #7f92acb2;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow:
    0px 0px 8px rgba(0, 0, 0, 0.08),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1.75rem;
  height: 100%;
  min-height: fit-content;
  flex: 1 1 25rem;
  box-sizing: border-box;
  padding: 2rem;
  letter-spacing: $letter-spacing-base;
  justify-content: flex-end;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-weight: 700;
    font-style: bold;
    font-size: 1.875rem;
    line-height: $line-height-base;
    text-wrap: balance;
  }

  &__description {
    display: flex;
    align-items: center;
    min-height: 2lh;
    text-wrap: balance;
  }
}
