@use '@styles/variables' as *;

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 3rem;

  &__image {
    max-width: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    line-height: $line-height-lg;
    margin-bottom: 1.25rem;
  }

  &__text {
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: #4f5665;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 400;
    color: #4f5665;

    & li {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      & img {
        padding: 2px;
      }
    }
  }
}
