@use "@shared/styles/variables" as *;
.main {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  box-sizing: border-box;
  gap: 3rem 0;
}

.cardsPromo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 5rem 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    flex: 1;
  }

  &__heading {
    line-height: $line-height-lg;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
  }

  &__image {
    width: auto;
    max-height: 10rem;
    object-fit: contain;
  }
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 3rem;

  &__image {
    max-width: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    line-height: $line-height-lg;
    margin-bottom: 1.25rem;
  }

  &__text {
    margin-bottom: 1.5rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & li {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      & img {
        padding: 2px;
      }
    }
  }
}

.map {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: $line-height-lg;
  justify-content: center;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}

.support {
  text-align: center;

  &__heading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-base;
    color: #eb801d;
  }
}
